<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Reviews.Website" description="Content types and Page types for Product Reviews functionality" dependencies="Foundation.Serialization,Feature.Reviews,Feature.VideoReviews" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\reviews\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Reviews.Website.Templates" database="master" path="/sitecore/templates/Project/Reviews" />
            <!--<include name="Reviews.Website.Content" database="master" path="/sitecore/content/Habitat/" />-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>